{% extends 'main.html' %}
{% load staticfiles %}



{% block article %}
    <div class="article">
        <h2>{{ article.article_title }}</h2>


        <img src="{{ article.article_img.url }}">

        <div class="article_text">
            <p>{{ article.article_text }}</p>

            <p>{{ article.article_user }}</p>
            <p>{{ article.article_date }}</p>
            {% if is_superUser == 1 %}
                <p><a href="/articles/editarticle/{{ article.id }}"> редактировать новость</a> || <a
                        href="/articles/delete/{{ article.id }}"> удалить новость</a></p>
            {% endif %}
        </div>

        {#     <p><a href="/articles/like/{{ article.id }}"><img src="{% static "gr.jpg" %}"></a>:{{ article.article_likes }}</p>#}

        <hr>
        <p>Комментарии:</p>


        {% for comment in comments %}

            <p>{{ comment.comments_text }}</p>
            <p>{{ comment.comments_user.username }} {{ comment.comments_date }}</p>
        {% endfor %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if comments.has_previous %}
                    <li class="arrow"><a href="/articles/get/{{ article.id }}/{{ comments.previous_page_number }}">
                        сюда</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">сюда</a></li>
                {% endif %}
                {% for page_comments in comments.paginator.page_range %}
                    {% if page_comments == comments.number %}
                        <li class="current"><a
                                href="/articles/get/{{ article.id }}/{{ page_comments }}">{{ page_comments }}</a></li>
                    {% else %}
                        <li><a href="/articles/get/{{ article.id }}/{{ page_comments }}">{{ page_comments }}</a></li>
                    {% endif %}

                {% endfor %}
                {% if comments.has_next %}
                    <li class="arrow"><a href="/articles/get/{{ article.id }}/{{ comments.next_page_number }}"> сюда</a>
                    </li>
                {% else %}
                    <li class="arrow unavailable"><a href="">туда</a></li>
                {% endif %}

            </ul>


        </div>

        {% if username %}
            <form action="/articles/addcomment/{{ article.id }}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" class="bottom" value="Добавить комментарий">
            </form>
        {% endif %}
    </div>
{% endblock %}

