{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}



    <form action="/articles/editarticle/{{ article_id }}" method="post">
        {% csrf_token %}
        

        <label for="title">Название статьи</label>
        <input type="text" name="article_title" id="article_title" value="{{ article_title }}">
        <label for="text">текст статьи</label>
        <input type="text" name="article_text" id="article_text" value="{{ article_text }}">
        <input type="submit" class="bottom" value="Сохранить">
    </form>


{% endblock %}
