{% extends "main.html" %}
{% load staticfiles %}
{% block films_view %}

     <h1>{{ film.film_name }}</h1>
    <p>{{ film.film_user }} || {{ film.film_date_public }} || {{ film.film_like }}</p>


   <ul id="menu">
       <li><a href="/film/get/{{ film.id }}" >Фильм</a></li>
       <li><a href="/film/get/{{ film.id }}/news/">История</a> </li>
       <li><a href="/film/get/{{ film.id }}/users/">Описание</a> </li>
   </ul>
<br><br>

    <hr>

    <p>Режиссёр: {{ film_users.film_rejisser }}</p>
    <p>Сценарий: {{ film_users.film_scenarii }}</p>
    <p>Подюссер: {{  film_users.film_produsser }}</p>
    <p>Оператор: {{ film_users.film_operatior }}</p>
    <p>Композитор: {{  film_users.film_compozitor }}</p>
    <p>Монтаж: {{  film_users.film_montaj }}</p>
    <p>Актеры: {{  film_users.film_actors }}</p>
    <hr>

    <a href="/film/get/{{ film.id }}/users/edit">Редактировать создателей</a> ||
    <a href="/film/get/{{ film.id }}/users/delete">Удалить создателей</a>

{% endblock %}