{% extends "main.html" %}
{% load staticfiles %}
{% block films_view %}


<script>


</script>
    <br>
    {% for film in films %}
        <div class="news">

        <div  onclick="location.href='/film/get/{{ film.id }}'" >

        <h2>{{ film.film_name|truncatechars:50}}</h2>
        <img id="img" src="http://img.youtube.com/vi/{{ film.film_sided_id }}/0.jpg">
        <p></p>
        <p>{{ film.film_created_users }} || {{ film.film_date_public }} <br> Понравилось: {{ film.film_like }}</p>

        </div>

        </div>



    {% endfor %}



{% endblock %}