{% extends "main.html" %}
{% load staticfiles %}
{% block films_view %}


    <script>


    </script>
    <br>
    {% for film in films %}
        <div class="news">

            <div onclick="location.href='/film/get/{{ film.id }}'">

                <h2>{{ film.film_name|truncatechars:50 }}</h2>
               <div >
                {# http://img.youtube.com/vi/{{ film.film_sided_id }}/0.jpg #}
                <img id="img" src="http://img.youtube.com/vi/{{ film.film_sided_id }}/0.jpg">
                </div>
                <p></p>

                <p>{{ film.film_created_users }} || {{ film.film_date_public }} <br> Понравилось: {{ film.film_like }}
                </p>

            </div>

        </div>



    {% endfor %}
 <hr>
    <div class="pagination-centered">
        <ul class="pagination">
            {% if films.has_previous %}
                <li class="arrow"><a href="/film/page/{{ articles.previous_page_number }}"> сюда</a></li>
            {% else %}
                <li class="arrow unavailable"><a href="">сюда</a></li>
            {% endif %}

        {% for page in films.paginator.page_range %}
            {% if page == films.number %}
            <li class="current"><a href="/film/page/"{{ page }}>{{ page }}</a> </li>
            {% else %}
            <li><a href="/film/page/{{ page }}">{{ page }}</a> </li>
        {% endif %}
        {% endfor %}
        {% if films.has_next %}
            <li class="arrow"><a href="/articles/page/{{ articles.next_page_number }}">туда</a> </li>
            {% else %}
            <li class="arrow unavailable"><a href="">туда</a></li>
            {% endif %}

        </ul>
    </div>



{% endblock %}