{% extends 'main.html' %}
{$ {% block films_view %}

    <script type="application/javascript">
        {##}
        $test = false;
        function test(id) {
            if ($test == false) {
                $('.topImage').not('#select_' + id).hide();
                $('#select_' + id).show();
                $('#' + id).css({
                    '-webkit-filter': 'grayscale(0%)',
                    '-moz-filter': 'grayscale(0%)',
                    '-o-filter': 'grayscale(0%)'
                });
                $test = true;

            }
        }

        function filmId(id) {


            $('.indexImg').css(
                    {
                        '-webkit-filter': 'grayscale(100%)',
                        '-moz-filter': 'grayscale(100%)',
                        '-o-filter': 'grayscale(100%)'
                    }
            );
            $('.topImage').not('#select_' + id).hide();
            $('#select_' + id).show();
            $('#' + id).css({
                '-webkit-filter': 'grayscale(0%)',
                '-moz-filter': 'grayscale(0%)',
                '-o-filter': 'grayscale(0%)'
            });

        }

    </script>


    <div class="index">
    <div class="indexfilms">
        <h2>Лучшее за последнюю неделю</h2>

        <div class="indexSelectFilm">
            {% for film in top_likes %}


                <img class="topImage" id="select_{{ film.id }}" onload="test({{ film.id }})"
                     src="http://img.youtube.com/vi/{{ film.film_sided_id }}/0.jpg"/>




            {% endfor %}
        </div>


        <ul class="indexTopFilms">

            {% for film in top_likes %}
                <li value="{{ film.id }}" class="rollover">
                    {% if film.film_sided_site == 2 %}
                        <img class="indexImg" onclick="filmId({{ film.id }})" id="{{ film.id }}"
                             src="http://img.youtube.com/vi/{{ film.film_sided_id }}/mqdefault.jpg">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="indexArticles">
        <h2>Новости сайта</h2>
        {% for article in articles %}
            <div class="indexArticle" onclick="location.href='/articles/get/{{ article.id }}'">
                {#                <img src="">#}
                <p href="/articles/get/{{ article.id }}">{{ article.article_title }}</p>
            </div>

        {% endfor %}
    </div>

{% endblock %}
</div>